@import "tailwindcss";
@import "@fontsource-variable/geist-mono";

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

html,
body,
#app {
	min-height: 100%;
}

body {
	margin: 0;
}

:root {
	--background: oklch(0.9791 0 0);
	--foreground: oklch(0.2781 0.0117 248.2473);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.2781 0.0117 248.2473);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.2781 0.0117 248.2473);
	--primary: oklch(0.4949 0.1801 257.6013);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.9177 0.0063 255.4771);
	--secondary-foreground: oklch(0.2781 0.0117 248.2473);
	--muted: oklch(0.9782 0.0034 247.8578);
	--muted-foreground: oklch(0.5514 0.019 250.9758);
	--accent: oklch(0.5299 0.1896 257.4102);
	--accent-foreground: oklch(1 0 0);
	--destructive: oklch(0.5879 0.1927 20.4694);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.9177 0.0063 255.4771);
	--input: oklch(1 0 0);
	--ring: oklch(0.6354 0.1984 255.8343);
	--chart-1: oklch(0.6354 0.1984 255.8343);
	--chart-2: oklch(0.6401 0.1751 146.7426);
	--chart-3: oklch(0.6877 0.1919 45.613);
	--chart-4: oklch(0.5015 0.1883 294.9882);
	--chart-5: oklch(0.5879 0.1927 20.4694);
	--sidebar: oklch(0.9581 0 0);
	--sidebar-foreground: oklch(0.2781 0.0117 248.2473);
	--sidebar-primary: oklch(0.4949 0.1801 257.6013);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.9177 0.0063 255.4771);
	--sidebar-accent-foreground: oklch(0.4949 0.1801 257.6013);
	--sidebar-border: oklch(0.8714 0.0082 253.8598);
	--sidebar-ring: oklch(0.6354 0.1984 255.8343);
	--font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
	--font-serif: Georgia, serif;
	--font-mono: Geist Mono, ui-monospace, monospace;
	--radius: 0rem;
	--shadow-x: 0px;
	--shadow-y: 2px;
	--shadow-blur: 4px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.1;
	--shadow-color: #000000;
	--shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
	--tracking-normal: -0.01em;
	--spacing: 0.25rem;
	--grid-cols-custom: 1fr 1fr 1fr;
}

.dark {
	--background: oklch(0.1763 0.014 258.3572);
	--foreground: oklch(0.8569 0.0141 247.9925);
	--card: oklch(0.2202 0.0157 256.8163);
	--card-foreground: oklch(0.8569 0.0141 247.9925);
	--popover: oklch(0.2202 0.0157 256.8163);
	--popover-foreground: oklch(0.8569 0.0141 247.9925);
	--primary: oklch(0.7153 0.1518 253.3061);
	--primary-foreground: oklch(0.1763 0.014 258.3572);
	--secondary: oklch(0.33 0.0149 252.3099);
	--secondary-foreground: oklch(0.8569 0.0141 247.9925);
	--muted: oklch(0.2666 0.015 256.7978);
	--muted-foreground: oklch(0.6625 0.0181 250.9217);
	--accent: oklch(0.5686 0.2023 259.6677);
	--accent-foreground: oklch(1 0 0);
	--destructive: oklch(0.6651 0.2046 26.9596);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.33 0.0149 252.3099);
	--input: oklch(0.1763 0.014 258.3572);
	--ring: oklch(0.7153 0.1518 253.3061);
	--chart-1: oklch(0.7153 0.1518 253.3061);
	--chart-2: oklch(0.6951 0.1809 145.6213);
	--chart-3: oklch(0.7196 0.1401 79.915);
	--chart-4: oklch(0.7323 0.1668 301.6865);
	--chart-5: oklch(0.6651 0.2046 26.9596);
	--sidebar: oklch(0.1039 0.0194 248.345);
	--sidebar-foreground: oklch(0.8569 0.0141 247.9925);
	--sidebar-primary: oklch(0.7153 0.1518 253.3061);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.2202 0.0157 256.8163);
	--sidebar-accent-foreground: oklch(0.7153 0.1518 253.3061);
	--sidebar-border: oklch(0.33 0.0149 252.3099);
	--sidebar-ring: oklch(0.7153 0.1518 253.3061);
	--font-sans: Geist, ui-sans-serif, sans-serif, system-ui;
	--font-serif: Georgia, serif;
	--font-mono: Geist Mono, ui-monospace, monospace;
	--radius: 0rem;
	--shadow-x: 0px;
	--shadow-y: 4px;
	--shadow-blur: 8px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.5;
	--shadow-color: #000000;
	--shadow-2xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.25);
	--shadow-xs: 0px 4px 8px 0px hsl(0 0% 0% / 0.25);
	--shadow-sm: 0px 4px 8px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
	--shadow: 0px 4px 8px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
	--shadow-md: 0px 4px 8px 0px hsl(0 0% 0% / 0.5), 0px 2px 4px -1px hsl(0 0% 0% / 0.5);
	--shadow-lg: 0px 4px 8px 0px hsl(0 0% 0% / 0.5), 0px 4px 6px -1px hsl(0 0% 0% / 0.5);
	--shadow-xl: 0px 4px 8px 0px hsl(0 0% 0% / 0.5), 0px 8px 10px -1px hsl(0 0% 0% / 0.5);
	--shadow-2xl: 0px 4px 8px 0px hsl(0 0% 0% / 1.25);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);

	--grid-template-columns-editor-shell-closed: 0px minmax(0, 1fr) 0px;
	--grid-template-columns-editor-shell-left: 17.5rem minmax(0, 1fr) 0px;
	--grid-template-columns-editor-shell-right: 0px minmax(0, 1fr) 20rem;
	--grid-template-columns-editor-shell-both: 17.5rem minmax(0, 1fr) 20rem;

	--grid-template-rows-editor-terminal-closed: minmax(0, calc(100% - 0rem)) 0rem;
	--grid-template-rows-editor-terminal-open: minmax(0, calc(100% - 12rem)) 12rem;
	--grid-template-rows-editor-terminal-fullscreen: minmax(0, calc(100% - 100%)) 100%;

	--ease-editor-shell: cubic-bezier(0.32, 0.72, 0, 1);
}

@utility grid-areas-editor-center {
	grid-template-areas: "main" "terminal";
}

@utility area-editor-main {
	grid-area: main;
}

@utility area-editor-terminal {
	grid-area: terminal;
}

@custom-variant dark (&:is(.dark *));

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
		letter-spacing: var(--tracking-normal);
	}
}
